<html ng-app="myModule">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body ng-controller="indexController">
  <header class="container">
    <h1 ng-bind="title"></h1>
  </header>
  <main class="container">
    <div class="row">
      <input type="text" ng-model="search" placeholder="Search...">
      <table class="striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>UF</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in contacts | filter:search">
            <th> {{ contact.name }} </th>
            <th> {{ contact.number }} </th>
            <th> {{ contact.location }} </th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <a class=" waves-effect waves-light btn modal-trigger" href="#modal1">Add contact</a>
      </div>
  </main>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add contact</h4>
      <p>Type contact's data </p>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Name" id="first_name" type="text" class="validate" ng-model="Contact.name">
        <label>Name</label>
      </div>
      <div class="input-field col s4">
        <input placeholder="Number" id="first_name" type="text" class="validate" ng-model="Contact.number">
        <label>Number</label>
      </div>
    </div>
    <div class="modal-footer">
      <a ng-click="addContact(Contact)" class=" waves-effect waves-light btn blue" href="#modal1">Add</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems);
    });
  </script>
  <script>
    angular.module('myModule', [])
      .controller('indexController', function ($scope) {
        $scope.title = 'Contacts list';
        $scope.contacts = [
          {
            name: 'Camila',
            number: '(11) 98765-4321'
          },
          {
            name: 'Pedro',
            number: '(21) 91234-5678'
          },
          {
            name: 'Murilo',
            number: '(11) 92345-6789'
          },
          {
            name: 'Claudia',
            number: '(31) 97654-9812'
          },
        ];

        var init = function () {
          $scope.contacts.forEach(function (Contact) {
            Contact.location = location(Contact.number);
          });
        };

        var location = function (number) {
          switch (number.substring(1, 3)) {
            case '11':
              return 'SP'
            case '21':
              return 'RJ'
            case '31':
              return 'MG'
          }
        };

        $scope.addContact = function (Contact) {
          Contact.location = location(Contact.number);
          $scope.contacts.push(Contact);
          M.Modal.getInstance($('#modal1')).close();
        };

        init();
      })
  </script>
</body>
</html>